


* Predict Button */
.my-cta-button{
    background: #f9f9f9;
    border: 2px solid #000000;
    border-radius: 1000px;
    box-shadow: 3px 3px #8c8c8c;
    padding: 10px 36px;
    color: #000000;
    display: inline-block;
    font: italic bold 20px/1 "Calibri", sans-serif;
    text-align: center;
}

.my-cta-button:hover{
    color: #4d089a;
    border: 2px solid #4d089a;
}

.my-cta-button:active{
    box-shadow: 0 0;
}